<manifest package="org.gdg.frisbee.android"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-feature android:name="android.hardware.type.watch"/>

  <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>


  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.DeviceDefault">
    <service
      android:name=".GdgWatchFace"
      android:label="@string/app_name"
      android:permission="android.permission.BIND_WALLPAPER">
      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/watch_face"/>
      <meta-data
        android:name="com.google.android.wearable.watchface.preview"
        android:resource="@drawable/preview_square"/>
      <meta-data
        android:name="com.google.android.wearable.watchface.preview_circular"
        android:resource="@drawable/preview_round"/>
      <meta-data
        android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
        android:value="org.gdgph.watchface.CONFIG"/>

      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService"/>

        <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE"/>
      </intent-filter>
    </service>

    <service android:name=".GdgWatchFaceConfigListenerService">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
      </intent-filter>
    </service>

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>

    <activity
      android:name=".WearableConfigurationActivity"
      android:label="@string/label_configure">
      <intent-filter>
        <action android:name="org.gdgph.watchface.CONFIG"/>

        <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION"/>
        <category android:name="android.intent.category.DEFAULT"/>

      </intent-filter>
    </activity>
    <activity
      android:name=".ColorConfigActivity"
      android:label="@string/label_configure"/>
    <activity
      android:name=".TimeConfigActivity"
      android:label="@string/label_configure"/>
  </application>

</manifest>
